page-chat {
	#chat-autoscroll {
		margin-bottom: 8px;
	}

	.chat-page {
		background-color: color($colors, graylightest);

		ion-content {
			//margin-top: 16px;
		}

		.chat-info {
			margin: 0 10px;
		}

		.chat-header-more {
			position: absolute;
			right: 0px;
		}

		p {
			margin: 0;
			color: white;
			font-size: 11px;
		}

		.name {
			font-size: 16px;
			font-weight: bold;
			margin-bottom: 5px;
		}

		.status {
			display: flex;
			align-items: baseline;
			justify-content: flex-start;

			span {
				margin-right: 10px;
				width: 10px;
				height: 10px;
				border-radius: 10px;
				display: block;
			}

			.online {
				background-color: white;
			}

			.offline {
				background-color: #d3d4d5;
			}
		}

		.navbar {
			color: color($colors, light);

			.back-button {
				display: block;
			}

			.toolbar-content {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}

			button {
				box-shadow: none;
			}

			ion-item {
				width: auto;
				background-color: transparent;
				color: white;

				ion-icon {
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translateY(-50%) translateX(-50%);
					color: white;
					font-size: 25px;
				}

				ion-label {
					span {
						display: none;
					}
				}

				ion-select {
					.select-text,
					.select-icon {
						display: none;
					}
				}
			}
		}

		.footer {
			background-color: white;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 15px;
			min-height: 60px;

			.text-container {
				width: calc(100% - 78px);
			}

			button {
				width: 24px;
				height: 24px;
				font-size: 24px;
				background-color: transparent;
				color: color($colors, primary);
				font-weight: bold;
				box-shadow: none;
			}

			.send-button {
				margin-left: 15px;
			}

			.svg {
				width: 20px;
				height: 20px;
				font-size: 0;
				margin-right: 15px;
			}

			input {
				padding: 0 10px;
				background-color: color($colors, graylightest);
				margin: 0;
				height: 45px;
			}

			&.full {
				.text-container {
					width: calc(100% - 117px);
				}
			}
		}

		.item-inner {
			border: 0;
		}

		.chat-message {
			padding-bottom: 35px;
			//margin-top: 8px;
			font-size: 14px;
			line-height: 23px;
			padding-top: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			word-break: break-word;
			//word-break:break-all;
			//hyphens: auto;

			a {
				font-size: 14px;
				text-decoration: none;
				color: white;
				margin-top: 8px;
				display: block;

				ion-icon {
					margin-right: 5px;
				}
			}

			img {
				margin-top: 10px;
				width: 100px;
				height: 100px;
				object-fit: cover;
				border-radius: 5px;
			}

			&--inner {
				padding: 8px 12px 6px;
				border-radius: 10px;
			}

			&.right {
				margin-left: 10px;
				margin-right: 40px;
				padding-left: 0;
				align-items: flex-start;

				.chat-message--inner {
					background-color: white;
				}
			}

			&.left {
				color: white;
				margin-right: 10px;
				margin-left: 40px;
				padding-right: 0;
				align-items: flex-end;

				.chat-message--inner {
					background-color: color($colors, primary);
				}
			}
		}

		.attach-file {
			left: 0;
			right: 0;
			position: absolute;
			background-color: transparent !important;
		}

		.disable-button {
			user-select: none;
		}

		.text-container {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			flex-direction: column;
			background-color: #f2f2f2;

			img {
				width: 100px;
				margin: 5px;
			}

			ion-icon {
				font-size: 25px;
				color: color($colors, primary);
				margin: 5px;
			}
		}

		.modal {
			display: none;
			position: fixed;
			z-index: 1;
			padding-top: 70px;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: rgba(0, 0, 0, 0.9);
		}

		.modal-content {
			margin: auto;
			display: block;
			width: 100%;
			max-width: 700px;
		}

		#caption {
			margin: auto;
			display: block;
			width: 80%;
			max-width: 700px;
			text-align: center;
			color: #ccc;
			padding: 10px 0;
			height: 150px;
		}

		.modal-content,
		#caption {
			-webkit-animation-name: zoom;
			-webkit-animation-duration: 0.6s;
			animation-name: zoom;
			animation-duration: 0.6s;
		}

		@-webkit-keyframes zoom {
			from {
				-webkit-transform: scale(0);
			}
			to {
				-webkit-transform: scale(1);
			}
		}

		@keyframes zoom {
			from {
				transform: scale(0);
			}
			to {
				transform: scale(1);
			}
		}

		.close-span {
			float: right;
			margin-right: 25px;
			margin-bottom: 25px;
			color: #f1f1f1;
			font-size: 40px;
			font-weight: bold;
			transition: 0.3s;

			&:hover,
			&:focus {
				color: #bbb;
				text-decoration: none;
				cursor: pointer;
			}
		}

		.chat-msg {
			font-family: Graphik Web;
			line-height: 24px;
			display: flex;
			align-items: center;
			text-align: center;
			letter-spacing: -0.01em;
			color: #8798ad;

			&-date {
				margin: auto;
				font-size: 14px;
				margin-top: 15px;
				margin-bottom: 15px;
			}

			&-hours {
				font-size: 12px;
				text-align: right;
			}
		}

		.icon-msg-read {
			@include bgImg2x("../../assets/images/icn_read", png);
			background-repeat: no-repeat;
			background-size: cover;
			display: inline-block;
			width: 16.45px;
			height: 9.5px;
			margin-right: 3px;
		}

		.icon-msg-seen {
			@include bgImg2x("../../assets/images/icn_seen", png);
			background-repeat: no-repeat;
			background-size: cover;
			display: inline-block;
			width: 16.45px;
			height: 9.5px;
			margin-right: 3px;
		}
	}
}
