page-quotes-filter {
	.filter-button {
		background: #ffffff;
		box-shadow: 0px -1px 0px #e9e9ec, 0px 1px 0px #e9e9ec;
		border-top: 1px solid #e9e9ec;
	}

	.item.activated {
		background: #0096d7;
		box-shadow: 0px -1px 0px #e9e9ec, 0px 1px 0px #e9e9ec;
		background-color: 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms, -webkit-transform 300ms;
		color: white;
		font-weight: bold;
	}

	.filter-icon {
		color: #2e384d;
		opacity: 0.5;
	}

	.list-md,
	.list-ios {
		margin: 0;
		padding-left: 8px;
	}

	.filter-icon-white {
		color: white;
	}

	.item-md ion-icon[item-left] + .item-inner,
	.item-md ion-icon[item-left] + .item-input,
	.item-md ion-icon[item-start] + .item-inner,
	.item-md ion-icon[item-start] + .item-input {
		margin-left: 8px;
	}
}
