<!--
Generated template for the RequestDetailsPage page.

See http://ionicframework.com/docs/v2/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar color="primary">
		<ion-title>Pedido #{{taskInfo.task.task_id}}</ion-title>
		<ion-buttons end [hidden]="requestIgnored">
			<button (click)="ignoreTask()"><ion-icon name="trash"></ion-icon></button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content class="TaskDetailsPage" style="background: #ffffff">
	<!-- Profile -->
	<div class="task-card-owner">
		<ion-avatar text-center center class="task-card-avatar">
			<img src="{{taskInfo.task.owner_image}}" />
		</ion-avatar>
		<div class="task-card-owner-name">
			<label>{{ownerName}}</label>
		</div>
	</div>

	<!-- Segments -->
	<ion-segment class="task-details-segment" [(ngModel)]="selectedSegment" (change)="onChangeTopSegment($event)">
		<ion-segment-button value="details" class="task-segment-button">
			<ion-label>{{translate.details}}</ion-label>
		</ion-segment-button>
		<ion-segment-button value="quote" class="task-segment-button">
			<ion-label>{{translate.sendQuote}}</ion-label>
		</ion-segment-button>
	</ion-segment>

	<!-- START directive task-details -->
	<div class="task-details task-details-div" *ngIf="selectedSegment=='details'">
		<!-- Bought info -->
		<ion-grid>
			<ion-row>
				<ion-col>
					<ion-row text-center>
						<ion-col class="task-card-item-icon">
							<span class="task-card-item-icon-img icon-quote"></span>
							<strong class="task-card-item-icon-text">{{taskInfo.credits[0].n_leads}}</strong>
							<strong class="task-card-item-icon-text">/</strong>
							<strong class="task-card-item-icon-text">{{taskInfo.credits[0].max_leads}}</strong>
							<p class="task-card-item-icon-title">{{translate.quotesSended}}</p>
						</ion-col>
					</ion-row>
				</ion-col>
				<ion-col>
					<ion-row text-center>
						<ion-col class="task-card-item-icon">
							<span class="task-card-item-icon-img icon-credit"></span>
							<strong class="task-card-item-icon-text">{{taskInfo.credits[0].credits}}</strong>
							<p class="task-card-item-icon-title">{{translate.msgCredits}}</p>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-grid>
		<!-- Map -->
		<!--
      <div class="t-q-item-map">
          <img [src]="mapUrl">
      </div>
      -->
		<!-- About -->
		<ion-list class="task-questions" no-lines>
			<!-- Work category -->
			<ion-item text-wrap class="t-q-item">
				<span class="t-q-item-question">{{translate.taskCategory}}</span>
				<span class="t-q-item-answer">{{taskInfo.task.category}}</span>
			</ion-item>
			<!-- Phone contact -->
			<ion-item text-wrap class="t-q-item">
				<span class="t-q-item-question">Contacto</span>
				<span class="t-q-item-answer" *ngIf="taskInfo.task.has_phone == false && taskInfo.task.valid_phone == false"> {{translate.msgPhone}} {{translate.msgNotAvailable}} </span>
				<span class="t-q-item-answer" *ngIf="taskInfo.task.has_phone  == true  && taskInfo.task.valid_phone == false"> {{translate.msgPhone}} {{translate.msgNotValidated}} </span>
				<span class="t-q-item-answer" *ngIf="taskInfo.task.has_phone  == true && taskInfo.task.valid_phone == true && !taskInfo.task.phone">
					{{translate.msgPhone}} {{translate.msgValidated}}
					<span class="icon-check"></span>
				</span>
				<span class="t-q-item-answer" *ngIf="taskInfo.task.has_phone  == true && taskInfo.task.valid_phone == true && taskInfo.task.phone">
					{{taskInfo.task.phone}}
					<span class="icon-check"></span>
				</span>
			</ion-item>
			<!-- Publish date -->
			<ion-item text-wrap class="t-q-item">
				<span class="t-q-item-question">Pedido publicado a:</span>
				<span class="t-q-item-answer">{{formatDate(taskInfo.task.date)}}</span>
			</ion-item>
			<!-- Where -->
			<ion-item text-wrap class="t-q-item">
				<span class="t-q-item-question">{{translate.msgHere}}</span>
				<span class="t-q-item-answer">{{taskInfo.task.where}}</span>
			</ion-item>
			<!-- Questions -->
			<ion-item text-wrap class="t-q-item" *ngFor="#item of items">
				<span class="t-q-item-question">{{taskInfo.task.questions[item].question}}</span>
				<strong class="t-q-item-answer" *ngFor="#answer of taskInfo.task.questions[item].answer">{{answer}}</strong>
			</ion-item>
			<!-- When -->
			<!--ion-item text-wrap class="t-q-item">
              <span class="t-q-item-question">{{translate.msgWhen}}</span>
              <span class="t-q-item-answer">{{taskInfo.task.when}}</span>
          </ion-item-->
		</ion-list>
	</div>
	<!-- END directive task-details -->

	<!-- START directive quote-details -->
	<ion-list class="task-details task-details-quote" *ngIf="selectedSegment=='quote'">
		<div class="task-quote-edit-info" *ngIf="!editQuote">
			<div class="task-quote-value">{{bidPrice}}€</div>
			<div class="task-quote-title">{{translate.quoteAlreadySendedTo}} {{ownerName}}</div>
			<div class="task-quote-edit-button" (click)="editQuoteAction()">
				<label>{{translate.edit}}</label>
			</div>
		</div>

		<div *ngIf="editQuote">
			<div class="task-quote-title">{{translate.sendAQuoteTo}} {{ownerName}}</div>
			<form [formGroup]="sendQuoteForm" novalidate>
				<ion-row [hidden]="selectedQuoteType == 'more'">
					<ion-col text-right center>
						<div class="task-quote-value">
							<ion-input id="price" type="number" placeholder="200" text-right [(ngModel)]="bidPrice" formControlName="sendQuoteForm.controls['price']"></ion-input>
						</div>
					</ion-col>
					<ion-col text-left center class="task-quote-value-icon">
						<span class="icon-euro"></span>
					</ion-col>
				</ion-row>
				<ion-segment class="task-quote-segment" [(ngModel)]="selectedQuoteType" formControlName="sendQuoteForm.controls['pricetype']" (change)="onChangeQuoteSegment($event)">
					<ion-segment-button value="fixed">
						<ion-label>{{translate.fixedPrice}}</ion-label>
					</ion-segment-button>
					<ion-segment-button value="hourly">
						<ion-label>{{translate.hourlyPrice}}</ion-label>
					</ion-segment-button>
					<ion-segment-button value="more">
						<ion-label>{{translate.askForInfo}}</ion-label>
					</ion-segment-button>
				</ion-segment>
				<div class="task-quote-info-div">
					<ion-textarea formControlName="sendQuoteForm.controls['message']" rows="4" [(ngModel)]="quoteTextAreaValue" placeholder="{{translate.textAreaPlaceholder}}"> </ion-textarea>
				</div>
				<div *ngIf="sendQuoteForm.controls['message'].hasError('minlength') && sendQuoteForm.controls['message'].touched" class="error-box">{{translate.msgMinLength}}</div>
			</form>
			<div class="task-quote-options-div">
				<ion-row>
					<ion-col text-left>
						<button ion-button clear icon-start (click)="useLastMessage()">
							<ion-icon name="refresh"></ion-icon>
							<ion-label>{{translate.useLastMessage}}</ion-label>
						</button>
					</ion-col>
					<ion-col text-right>
						<button ion-button clear icon-start (click)="openTipsWebPage()">
							<ion-icon name="star"></ion-icon>
							<ion-label>{{translate.successTips}}</ion-label>
						</button>
					</ion-col>
				</ion-row>
			</div>
			<div class="task-quote-attach-div">
				<button ion-button clear icon-start>
					<span class="icon-attach"></span>
					<ion-label>{{attachPlaceholder}}</ion-label>
					<input type="file" class="attach-file" (change)="attachFile($event)" accept="image/*, application/pdf, text/*, application/vnd.sealed-xls" />
				</button>
			</div>
		</div>
	</ion-list>
</ion-content>

<ion-footer class="toolbar-btn-full" [hidden]="requestIgnored">
	<button *ngIf="selectedSegment=='details'" full primary (click)="showQuoteSegment()">{{translate.msgContactClient}}</button>
	<button *ngIf="selectedSegment=='quote' && editQuote" full primary [disabled]="!sendQuoteForm.valid" (click)="buyTask(sendQuoteForm.value)">{{translate.sendQuote}}</button>
</ion-footer>
